{% extends 'backendbase.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>IsVerified</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in utilisateurs %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% for role in user.roles %}
							{% if role == "ROLE_ADMIN" %}
								Adminsitrateur
							{% elseif role == "ROLE_STOCK" %}
								Gestionnaire de stock
							{% elseif role == "ROLE_USER" %}
								Client
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
					<td>
						<a href="{{ path('user_show', {'id': user.id}) }}" class="btn">show</a>
						<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun utilisateurs</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
